::-webkit-scrollbar{
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;

}
@keyframes appear {
    from {
     
      scale :0.6;
   
    }
    to {
      
      scale :1;
    
    }
  }